@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

@keyframes outColor {
  0%    { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
  25%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  100%  { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
}

@keyframes fadeIn {
  0% {opacity: 0%;}
  100% {opacity: 100%}
}

@media print, screen and (min-width: 40em){
  img.main-img {
    -webkit-filter: grayscale(100%);
    border-radius: 100vw;
    width: 34vw;
    height: 34vw;
    transition: ease-out 0.3s;
    animation: fadeIn ease-out 1s;
  }

  img.main-img:hover {
    -webkit-filter: grayscale(0%);
    height: 35vw;
    width: 35vw;
    border-radius: 100vw;
  }
}

img.main-img {
  border-radius: 100vw;
}

.form {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
