.education {
    margin-top: 20px;
}

.degree {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    display: flex;
    flex-direction: column;
}

.degree h3 {
    font-size: 1.5rem;
    color: #333;
}

.image {
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
}

.image.blurred {
    filter: blur(3px);
}

.image.clear {
    filter: blur(0);
}

.degree-title-container {
    display: flex;
    justify-content: space-between;
}

.degree p {
    font-size: 1rem;
    color: #777;
}

.btn-toggle {
    margin-top: 4px;
}

.text-display {
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.toggle-button {
    margin-top: 10px;
    background: none;
    border: none;
    color: #777;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.toggle-button-div {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.toggle-button:hover {
    text-decoration: underline;
}

.caret {
    border: solid currentColor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s ease;
}

.caret.down {
    transform: rotate(45deg);
}

.caret.up {
    transform: rotate(-135deg);
}